@import "../../../scss/variables";

.FilterBarButton {
  font: inherit;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  background-color: transparent;
  color: $color-gold;
  padding: 0.8rem 1rem;
  transition: all .4s;
  cursor: pointer;
  font-size: 1.8rem;
  &:hover {
    background-color: $color-gold;
    color: $color-white;
  }
}